@import "../../styles/global.scss";
.service_sec {
  @include section_padding();
  height: 100vh;
  background-color: var(--bg2);
  .service_card_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    .card_item {
      @include flex_row();
      align-items: start;
      gap: 10px;
    }
  }
}
